html body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
}
#bodycontainer{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 7vh 93vh;
    background-color: rgb(228, 245, 250);
}
#navigator{
    background-color:black;
}
#main{
    display: flex;
    justify-content: center;
}
#content{
    overflow-y: scroll;
    width: 60%;
    border-right: 1px solid rgb(136, 136, 236);
    border-left: 1px solid rgb(136, 136, 236);
    display: grid;
    grid-template-rows: 40vh;
}
#imageheader{
    background-color: blanchedalmond;
    display: flex;
}
#image{
    border:1px solid blue;
    width: 28%;
    height: 30vh;
    border-radius: 50%;
    margin-bottom: 3%;
}
#info{
    
    display: grid;
    grid-template-columns: 49.9% .2% 49.9%;
}
#vr{
    background-color: aqua;
}

li{
    color:white;
    display: inline-block;
}


