html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bodycontainer{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 25% 75%;
}
#menu{
    background-color: rgb(43, 41, 41);
    height: 100vh;
}
#accountsec{
    
    height: 100vh;
}
li{
    list-style-type: none;
    padding: 3%;
    padding-top: 5%;
}
a{
    text-decoration: none;
    color: white;
}
#navigator{
    margin-top: 20%;
}
#block{
   
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
}
#block:hover{
    background-color: seagreen;
    padding-top: 4%;
    padding-bottom: 4%;
}
#logo{
    margin-top: 10%;
    background-image: url("logo/logo.png");
    width: 100%;
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#image{
    background-color: blue;
    height: 30vh;
    width: 20%;
    border-radius: 50%;
}
#image{
    margin-top: 5%;
}
#info{
    background-color: chartreuse;
    width: 100%;
    height: 55vh;
    margin-top: 4.7%;
    display: grid;
    grid-template-columns: 50% 50%;
}
input{
    display: block;
    margin:5%;
    padding: 3%;
    width: 80%;
}
#Show{
    background-color: red;
}
#label{
    margin-left: 10%;
    margin-top: 10%;
}
label{
    margin: 5%;
}

