html body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bodycontainer{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 7vh 93vh;
    background-image: linear-gradient(to right top, #3b4f3c, #446248, #4d7754, #558c61, #5da16e, #60b075, #63bf7d, #65ce84, #64d986, #62e487, #61f088, #5ffb89);
}
#navigator{
    background-color:black;
}
#main{
    display: flex;
    justify-content: center;
}
#content{
    overflow-y: scroll;
    width: 60%;
    border-right: 1px solid rgb(136, 136, 236);
    border-left: 1px solid rgb(136, 136, 236);
    display: grid;
    grid-template-rows: 40vh;
}
#imageheader{
    background-color: blanchedalmond;
    display: flex;
}
#image{
    border:1px solid blue;
    width: 28%;
    height: 30vh;
    border-radius: 50%;
    margin-bottom: 3%;
}
#info{
    
    display: grid;
    grid-template-columns: 50% 50%;
}
#vr{
    background-color: aqua;
}
#show{
   display: flex;
   justify-content: center;
}
#label, #form_{
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
    border-radius: 5%;
    height: 65vh;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}
#form_{
    height: 50vh;
}
#title{
    margin-left:5%;
    margin-top: 15%;
    margin-bottom: 5%;
}
label{
    margin-left: 10%;
}

input{
    display: block;
    width: 80%;
    margin:auto;
    padding: 3%;
    margin: 5%;
}
button{
    display: block;
    width: 87%;
    margin:auto;
    padding: 3%;
    margin: 5%;
    color:white; 
    background-color:rgb(68, 68, 68); 
    border:none;
}

li{
    color:white;
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
}
#report{
    border: 1px solid black;
    border-radius: 5%;
    height: 20vh;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;

}


